<a href="https://colab.research.google.com/github/PuppalaKarthik/karthik_INFO5731_Spring2023/blob/main/In_class_exercise/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [1]:
# write your answer here

len('Karthik Puppala')

15

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
# write your answer here

str = 'google.com'

dic = {}

for ele in str:
  if ele not in dic.keys():
    dic[ele] = str.count(ele)

dict(sorted(dic.items(), key=lambda x: x[1], reverse=True))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [3]:
# write your answer here

mylist = [1, 2, 3, 4, 5]
sum(mylist)

15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
str = 'restart'

str[0] + str[1:].replace(str[0], '$')

'resta$t'

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [5]:
# write your answer here

a = 2
b = 3

S = 3.14 * pow((1 + (a/b)), 3)
print(S)

14.537037037037033

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [6]:
# write your answer here

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

dic2.update(dic3)
dic1.update(dic2)

dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [7]:
# write your answer here

myTuple = ('Hi', 'Hello', 'Hey')

print('Hi' in myTuple) # True
print('Whola!' in myTuple) # False

True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [8]:
# write your answer here

mySet = {234, 12, 873, 1267, 987, -55, -2}

print(f"Minimum value in a set: {min(mySet)}")
print(f"Maximum value in a set: {max(mySet)}")

Minimum value in a set: -55
Maximum value in a set: 1267

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
# write your answer here

import random

student_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 
                'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500',
                'aos0040','ds0814', 'av0659','nv0234','hy0232']



def create_6_gropus(student_list):

  # Generating 6 teams size list
  while(1):
    team_size = [random.randint(4,6) for i in range(5)] # Generating size of first 5 teams randomly
    if (len(student_list) - sum(team_size)) in [4, 5, 6]: # Generating last team size based on first 5 teams
      team_size.append(len(student_list) - sum(team_size))
      break
    else:
      team_size = [] # making list as empty to create a size of teams as per given condition


  # Generating 6 teams randomly
  for size in team_size:  
    team = random.sample(student_list, size)
    for teamMember in team:
      student_list.remove(teamMember)
    print(team)


create_6_gropus(student_list)

['sg1297', 'bg0320', 'nm0618', 'aos0040', 'ja0964']
['sk1390', 'sk1458', 'sc1229', 'ak0934']
['vb0218', 'fh0141', 'ms1500', 'av0659', 'kg0470']
['pr0353', 'nv0234', 'kg0569', 'dr0609', 'sa1198', 'ds0814']
['sk1313', 'sm1907', 'gn0108', 'sb1357', 'vm0377', 'jl1252']
['ak0956', 'sm1640', 'hy0232', 'sk1386']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [10]:
# write your answer here

arr = [2, 3, 6, 6, 6, 3, 9, 8, 5, 87, 90, 2]

duplicateArray = [] # Creating a list to store duplicate elements

for i in range(len(arr)): 
  if (arr[i] in arr[i+1:]) and (arr[i] not in duplicateArray):
    duplicateArray.append(arr[i])

if not duplicateArray:
  print("-1")
else:
  print(duplicateArray)

[2, 3, 6]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [11]:
# write your answer here

from datetime import date, timedelta

def find_sundays(year):
       dt = date(year, 1, 1) # january 1st date
     
       dt = dt + timedelta(days = 6 - dt.weekday())  # First sunday of year
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in find_sundays(2023):
   print(s)

2023-01-01
2023-01-08
2023-01-15
2023-01-22
2023-01-29
2023-02-05
2023-02-12
2023-02-19
2023-02-26
2023-03-05
2023-03-12
2023-03-19
2023-03-26
2023-04-02
2023-04-09
2023-04-16
2023-04-23
2023-04-30
2023-05-07
2023-05-14
2023-05-21
2023-05-28
2023-06-04
2023-06-11
2023-06-18
2023-06-25
2023-07-02
2023-07-09
2023-07-16
2023-07-23
2023-07-30
2023-08-06
2023-08-13
2023-08-20
2023-08-27
2023-09-03
2023-09-10
2023-09-17
2023-09-24
2023-10-01
2023-10-08
2023-10-15
2023-10-22
2023-10-29
2023-11-05
2023-11-12
2023-11-19
2023-11-26
2023-12-03
2023-12-10
2023-12-17
2023-12-24
2023-12-31